- unless @movie.errors.empty?
  #warning
    Errors prevented this movie from being #{controller.action_name}d:
    %ul
      - @movie.errors.full_messages.each do |error|
        %li= error


= label :movie, :title, 'Title'
= text_field :movie, :title
%br

= label :movie, :rating, 'Rating'
%br
= select :movie, :rating, ['G','PG','PG-13', 'R', 'NC-17'], {}, class:"browser-default"
%br

= label :movie, :release_date, 'Released On'
%br
= date_select :movie, :release_date, {start_year: 1930}, class:"browser-default"

%br
= label :movie, :description, 'Description'
%br
= text_area :movie, :description, rows:4, cols:50
%br